[submodule "spotify-back"]
	path = spotify-back
	url = https://github.com/supperdoggy/spotify-back
[submodule "spotify-front"]
	path = spotify-front
	url = https://github.com/supperdoggy/spotify-front
[submodule "spotify-db"]
	path = spotify-db
	url = https://github.com/supperdoggy/spotify-db
[submodule "spotify-globalStructs"]
	path = spotify-globalStructs
	url = https://github.com/supperdoggy/spotify-globalStructs
